<nav class="menu">
  <ul>
    <li><a href="/">Inicio</a></li>
    <li><a href="/acerca">Acerca</a></li>
    <li><a href="/contacto">Contacto</a></li>
    <li><a href="/blog">Arquetipos</a></li>
  </ul>
  <form id="search-form">
    <input type="text" id="search-input" placeholder="Buscar...">
    <button type="submit">Buscar</button>
  </form>
</nav>
<div id="search-results"></div>