<style>
    #suggestions {
      list-style: none;
      padding: 0;
    }
    #suggestions li {
      margin: 5px 0;
    }
    #suggestions a {
      text-decoration: none;
      color: blue;
    }
    #suggestions a:hover {
      text-decoration: underline;
    }
  </style>
<nav class="menu">
  <ul>
    <li><a href="/">Inicio</a></li>
    <li><a href="/acerca">Acerca</a></li>
    <li><a href="/contacto">Contacto</a></li>
    <li><a href="/blog">Arquetipos</a></li>
  </ul>
  <div>
      <h1>{{ pageTitle }}</h1>
  <input type="text" id="searchInput" placeholder="{{ searchPlaceholder }}">
  <ul id="suggestions">{{ suggestionsList }}</ul>

  <script src="/js/busca.js"></script>
</div>
