<nav class="menu">
  <ul>
    <li><a href="/">Inicio</a></li>
    <li><a href="/acerca">Acerca</a></li>
    <li><a href="/contacto">Contacto</a></li>
    <li><a href="/blog">Arquetipos</a></li>
  </ul>
  <div>
    <input class="{{ inputClass }}" id="{{ buscadorId }}" type="text" name="{{ nombreInput }}" placeholder="{{ placeholderBuscador }}"
        style="width:90%; height:30px;display:block;margin:0 auto;">
    <button style="width:100px; height:30px;display:block;margin:0 auto;margin-top:10px;" id="{{ btnBuscarId }}">Buscar</button>
</div>
</nav>